<footer class="footer">
  <div class="marker2"></div>
  <div class="end"><p>&copy; 2024 Rescue. All rights reserved.<br>
    <a href="/privacyPolicy" target="_blank">PrivacyStatement</a></p></div>
</footer>