<header class="header">
  <div class="marker1"></div>
  <div class="name"><p> Rescue Adoption Center </p> <a href="Home.ejs"> <img id="logo" src="/images/logo.png" alt="adoption-center logo"></a>
  </div>
  <div id="dateTime" class="date-time">

  </div>
</header>
