<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DogCare
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/styles8.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script>
      function updateDateTime() {
        const now = new Date();
        const year = now.getFullYear();
        const month = now.toLocaleString('en-US', { month: 'long' });
        const day = now.getDate();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');
        
        document.getElementById('dateTime').textContent = `${month} ${day}, ${year} ${hours}:${minutes}:${seconds}`;
      }
      
      document.addEventListener('DOMContentLoaded', () => {
        updateDateTime();
        setInterval(updateDateTime, 1000);
      });
    </script>
  </head>
  <body>
  <div class="wrapper">
    
    <%- include('partials/header.ejs') %>
    <div class="container">
        <ul class="list">
          <li> <a href="/Home" class="side">Home</a></li>
          
          <li> <a href="/createAccount "class="side">Create Account</a></li>
          <li> <a href="/Find" class="side">Find a dog/cat</a></li>
          <li> <a href="/DogCare" class="main">Dog Care</a></li>
          <li> <a href="/CatCare" class="side">Cat Care</a></li>
          <li> <a href="/GiveAway" class="side">Have a pet to give away</a></li>
          <li> <a href="/logOut" class="side">Log out</a></li>
          <li> <a href="/Contact" class="side">Contact Us</a></li>
        </ul>
        <div class="dogCare">
       
          <h2>Here's your ultimate guide to Dog care</h2>
          <h3>Feeding</h3>
            <ul>
              <li><strong>High-Quality Dog Food:</strong>Choose food suited to your dog's age, size, and health needs.</li>
              <li><strong>Healthy Treats:</strong> Avoid giving human food, especially those that are toxic like chocolate and grapes.</li>
            </ul>
          
          <h3>Exercise and Play</h3>
       
        <ul>
            <li><strong>Daily Walks:</strong> Essential for physical health and mental stimulation.</li>
            <li><strong>Interactive Play:</strong> Games like fetch and tug-of-war help keep your dog fit and happy.</li>
        </ul>
      
        
        <h3>Training and Socialization</h3>
        <ul>
            <li><strong>Basic Commands:</strong> Teach commands like “sit” and “stay” for good behavior.</li>
            <li><strong>Socialization:</strong> Introduce your dog to various environments and people to build confidence and reduce anxiety.</li>
        </ul><br>
     <p> <strong>Pro-tip:</strong>
        Caring for a dog involves more than just feeding and walking them; it's about providing a loving and supportive environment that keeps them healthy and happy.</p>
      </div>
      </div>
    
      <%- include('partials/footer.ejs') %>
</div>
</body>
    </html>