<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="/styles/styles8.css"> <!-- Adjust the path as needed -->
</head>
<body>
  <div class="container">
    <ul class="list">
      <li> <a href="/Home" class="main">Home</a></li>
 
      <li> <a href="/Find" class="side">Find a dog/cat</a></li>
      <li> <a href="/createAccount "class="side">Create Account</a></li>
      <li> <a href="/DogCare" class="side">Dog Care</a></li>
      <li> <a href="/CatCare" class="side">Cat Care</a></li>
      <li> <a href="/GiveAway" class="side">Have a pet to give away</a></li>
      <li> <a href="/logOut" class="side">Log out</a></li>
      <li> <a href="/Contact" class="side">Contact Us</a></li>
    </ul>
    <div class="content"><hr class="styled-hr">
      <button type="submit" action="/logOut">Logout</button>
      
      </div><hr class="styled-hr">
  </div>

  <%- include('partials/footer.ejs') %>


</div>
</body>
</html>