<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Browse
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/styles8.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script>
      function updateDateTime() {
        const now = new Date();
        const year = now.getFullYear();
        const month = now.toLocaleString('en-US', { month: 'long' });
        const day = now.getDate();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');
        document.getElementById('dateTime').textContent = `${month} ${day}, ${year} ${hours}:${minutes}:${seconds}`;
      }
      
      document.addEventListener('DOMContentLoaded', () => {
        updateDateTime();
        setInterval(updateDateTime, 1000);
      });
    </script>
  </head>
  <body>
  <div class="wrapper">
 
    <%- include('partials/header.ejs') %>
    <div class="container">
        <ul class="list">
          <li> <a href="/Home" class="side">Home</a></li>
          
          <li> <a href="/Find" class="side">Find a dog/cat</a></li>
          <li> <a href="/createAccount "class="side">Create Account</a></li>
          <li> <a href="/DogCare" class="side">Dog Care</a></li>
          <li> <a href="/CatCare" class="side">Cat Care</a></li>
          <li> <a href="GiveAway" class="side">Have a pet to give away</a></li>
          <li> <a href="/Contact" class="side">Contact Us</a></li>
        </ul>
        <h1>All available pets in the centre</h1>
        <div class="gallery">
          
          <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/1.jpg" alt="cool car">
          <button type="button">Interested</button>
          <img src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/2.jpg" alt="cool car">
          <button type="button">Interested</button>
          <img alt="cool car" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/4.jpg">
          <button type="button">Interested</button>
          <img  alt="cool car" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/5.jpg">
          <button type="button">Interested</button>
          <img alt="cool car" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/6.jpg">
          <button type="button">Interested</button>
          <img  alt="cool car" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/7.jpg">
          <button type="button">Interested</button>
          <img  alt="cool car" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/8.jpg">
          <button type="button">Interested</button>
          <img alt="cool car" src="https://cdn.freecodecamp.org/curriculum/css-photo-gallery/9.jpg">
          <button type="button">Interested</button>
        </div>
        
      </div>
      <%- include('partials/footer.ejs') %>
      
</div>
</body>
    </html>