<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Privacypolicy
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles8.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
  <h1>Privacy/Disclaimer Statement</h1>
  <p>We are committed to protecting your privacy. Your personal information will not be sold, shared, or misused. We collect and use personal information only as necessary to provide our services and improve your experience.</p>
  <p>While we strive to provide accurate and up-to-date information, we are not responsible for any incorrect or misleading information posted by pet owners or other users. Please verify any advice or information you receive from our website with a qualified professional.</p>
  <p>By using our website, you agree to these terms and acknowledge that you have read and understood our Privacy/Disclaimer Statement.</p>
    <br>
    <br>
   <a href="/Home">RETURN TO HOME PAGE</a>
</body>
</html>